{% load static %} {% load socialaccount %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <title>Login</title>
  </head>
  <body>
    <div class="container mt-5">
      <div class="row justify-content-center">
        <div class="col-md-6 text-center">
          <a href="{% url 'index' %}">
            <img
              src="{% static 'img/home-icon.png' %}"
              alt="Home"
              style="width: 40px; height: 40px"
            />
          </a>
        </div>
      </div>

      <div class="row justify-content-center mt-4">
        <div class="col-md-4">
          <h3 class="text-center">Login</h3>

          {% if messages %}
          <div
            class="alert alert-info alert-dismissible fade show"
            role="alert"
          >
            {% for message in messages %} {{ message }} {% endfor %}
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="alert"
              aria-label="Close"
            ></button>
          </div>
          {% endif %}

          <a
            class="btn btn-outline-dark w-100 mt-2"
            href="{% provider_login_url 'google' %}"
          >
            Login with
            <img src="https://img.icons8.com/color/30/000000/google-logo.png" />
          </a>

          <div class="text-center mt-3">OR</div>

          <form action="{% url 'login' %}" method="post" class="mt-3">
            {% csrf_token %}
            <div class="mb-3">
              <label for="username" class="form-label">Email</label>
              <input type="text" class="form-control" id="email" name="email" />
            </div>
            <div class="mb-3">
              <label for="passw1" class="form-label">Password</label>
              <input
                type="password"
                class="form-control"
                id="passw1"
                name="pass1"
              />
            </div>
            <div class="d-grid">
              <button class="btn btn-primary" type="submit">Login</button>
            </div>
          </form>

          <div class="text-center mt-3">
            <a href="{% url 'forgot_password' %}">Forgot Password?</a>
          </div>

          <div class="text-center mt-3">
            Not a User? <a href="{% url 'signup' %}">Sign Up</a>
          </div>
        </div>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-p14XRfl9I9qStbXzUQ+8+58txOByjVeoAHIfXW59nSJ+bG5KOmlkHwHFVvTBWTjy"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
