{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1 class="text-center mb-4">{% trans "Sign In" %}</h1>

            {% get_providers as socialaccount_providers %}

            {% if socialaccount_providers %}
                <div class="text-center mb-4">
                    <a href="{% provider_login_url 'google' %}" class="btn btn-outline-dark">
                        <img src="https://img.icons8.com/color/16/000000/google-logo.png" class="me-2">
                        Sign in with Google
                    </a>
                </div>

                <div class="text-center mb-4">
                    <span class="bg-white px-2">{% trans 'OR' %}</span>
                    <hr class="mt-0">
                </div>
            {% endif %}

            <form class="login" method="POST" action="{% url 'account_login' %}">
                {% csrf_token %}
                {{ form|crispy }}
                {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <div class="d-grid gap-2 mt-4">
                    <button class="btn btn-primary" type="submit">{% trans "Sign In" %}</button>
                    <a class="btn btn-link" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                </div>
            </form>

            <p class="text-center mt-4">
                {% blocktrans %}Don't have an account? <a href="{{ signup_url }}">Sign up</a>{% endblocktrans %}
            </p>
        </div>
    </div>
</div>
{% endblock %}