{% extends 'base/base.html' %}
{% block title %}CareFusion, A complete palliative care coordination system.{% endblock title %}
{% load static %}
{% block body %}

   <!-- Preloader -->
    
    <div class="preloader">
      <div class="loader">
        <div class="loader-outter"></div>
        <div class="loader-inner"></div>

        <div class="indicator">
          <svg width="16px" height="12px">
            <polyline id="back" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
            <polyline
              id="front"
              points="1 6 4 6 6 11 10 1 12 6 15 6"
            ></polyline>
          </svg>
        </div>
      </div>
    </div>
    
    <!-- End Preloader -->

    <h1>Organizations Functional Page</h1>
{% endblock body %}
</html>
