{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="zxx">
  <head>
    <!-- Meta Tags -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="keywords" content="Site keywords here" />
    <meta name="description" content="" />
    <meta name="copyright" content="" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Title -->
    <title>{% block title %} {% endblock %}</title>

    <!-- Favicon -->
    <link rel="icon" href="{% static 'img/favicon.png' %}"/>

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap"
      rel="stylesheet"
    />
    {% block extra_css %}
    <style>
      .nav.menu li.active > a {
        color: #1A76D1;
        font-weight: bold;
      }
      .main-menu {
        width: 100%;
      }
      .main-menu .navigation {
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
      }
      .main-menu .navigation > li {
        flex: 1 1 auto;
        text-align: center;
      }
      .main-menu .navigation > li > a {
        padding: 20px 10px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 14px;
      }
      @media (max-width: 1200px) {
        .main-menu .navigation > li > a {
          font-size: 12px;
        }
      }
      @media (max-width: 991px) {
        .main-menu .navigation {
          flex-wrap: wrap;
        }
        .main-menu .navigation > li {
          flex: 1 1 50%;
        }
      }
      @media (max-width: 767px) {
        .main-menu .navigation > li {
          flex: 1 1 100%;
        }
      }
    </style>
    {% endblock extra_css %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <!-- Nice Select CSS -->
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}" />
    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" />
    <!-- icofont CSS -->
    <link rel="stylesheet" href="{% static 'css/icofont.css' %}" />
    <!-- Slicknav -->
    <link rel="stylesheet" href="{% static 'css/slicknav.min.css' %}" />
    <!-- Owl Carousel CSS -->
    <link rel="stylesheet" href="{% static 'css/owl-carousel.css' %}" />
    <!-- Datepicker CSS -->
    <link rel="stylesheet" href="{% static 'css/datepicker.css' %}" />
    <!-- Animate CSS -->
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}" />
    <!-- Magnific Popup CSS -->
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}" />

    <!-- Medipro CSS -->
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}" />
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  </head>

  <body>
    <!-- Preloader --> 
    <div class="preloader">
      <div class="loader">
        <div class="loader-outter"></div>
        <div class="loader-inner"></div>
        <div class="indicator">
          <svg width="16px" height="12px">
            <polyline id="back" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
            <polyline id="front" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
          </svg>
        </div>
      </div>
    </div>
    <!-- End Preloader -->
    <!-- Header Area -->
    <header class="header">
      <!-- Topbar -->
      <div class="topbar">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 col-md-5 col-12">
              <!-- Contact -->
              <ul class="top-link">
                {% block topbar %}
                <li><a href="/about">About</a></li>
                <li><a href="{% url 'organizations_home' %}">Organizations</a></li>
                <li><a href="/contact">Contact</a></li>
                {% endblock topbar %}
              </ul>
              <!-- End Contact -->
            </div>
            <div class="col-lg-6 col-md-7 col-12">
              <!-- Top Contact -->
              <ul class="top-contact">
                <li><i class="fa fa-phone"></i>+91 9876543210</li>
                <li>
                  <i class="fa fa-envelope"></i><a href="mailto:support@carefusion.com">support@carefusion.com</a>
                </li>
              </ul>
              <!-- End Top Contact -->
            </div>
          </div>
        </div>
      </div>
      <!-- End Topbar -->
      <!-- Header Inner -->
      <div class="header-inner">
        <div class="container">
          <div class="inner">
            <div class="row">
              <div class="col-lg-3 col-md-3 col-12">
                <!-- Start Logo -->
                <div class="logo">
                  <a href="{% url 'index' %}"><img src="{% static 'img/logo.png' %}" alt="#" width="178px" height="37px" object-fit="contain;"/></a>
                </div>
                <!-- End Logo -->
                <!-- Mobile Nav -->
                <div class="mobile-nav"></div>
                <!-- End Mobile Nav -->
              </div>
              <div class="col-lg-7 col-md-9 col-12">
                <!-- Main Menu -->
                <div class="main-menu">
                  <nav class="navigation">
                    <ul class="nav menu">
                      {% block nav_items %}
                      <li class="{% if active_page == 'home' %}active{% endif %}"><a href="{% url 'index' %}">Home</a></li>
                      <li class="{% if active_page == 'pages' %}active{% endif %}">
                        <a href="#">Pages <i class="icofont-rounded-down"></i></a>
                        <ul class="dropdown">
                          <li><a href="{% url 'organizations_home' %}">Organizations</a></li>
                        </ul>
                      </li>
                      {% if not request.session.username and not request.session.org_name %}
                      <li class="{% if active_page == 'user' %}active{% endif %}">
                        <a href="#">New user ? <i class="icofont-rounded-down"></i></a>
                        <ul class="dropdown">
                          <li><a href="{% url 'login' %}">Sign In</a></li>
                          <li><a href="{% url 'signup' %}">Sign Up</a></li>
                        </ul>
                      </li>
                      {% elif request.session.username %}
                      <li class="{% if active_page == 'user' %}active{% endif %}">
                        <a href="#">Welcome {{request.session.username}} <i class="icofont-rounded-down"></i></a>
                        <ul class="dropdown">
                          <li><a href="{% url 'logout' %}">Logout</a></li>
                        </ul>
                      </li>
                      {% elif request.session.org_name %}
                      <li class="{% if active_page == 'user' %}active{% endif %}">
                        <a href="#">Welcome {{request.session.org_name}} <i class="icofont-rounded-down"></i></a>
                        <ul class="dropdown">
                          <li><a href="{% url 'logout' %}">Logout</a></li>
                        </ul>
                      </li>
                      {% endif %}
                      {% endblock nav_items %}
                    </ul>
                  </nav>
                </div>
                <!--/ End Main Menu -->
              </div>
              {% comment %} <div class="col-lg-2 col-12">
                <div class="get-quote">
                  <a href="{% url 'providers' %}" class="btn" id="find-providers-btn">Find Providers</a>
                </div>
              </div> {% endcomment %}
            </div>
          </div>
        </div>
      </div>
      <!--/ End Header Inner -->
      {% if messages %}
      {% for message in messages %}
      <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
        <strong></strong> {{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endfor %}
      {% endif %}
    </header>

    {% block body %}
    {% endblock body %}

    {% block content %}
    {% endblock content %}
    
    {% block custom_footer %}
    <!-- Footer Area -->
    <footer id="footer" class="footer">
      <!-- Footer Top -->
      <div class="footer-top">
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-md-6 col-12">
              <div class="single-footer">
                <h2>About Us</h2>
                <p>
                  Lorem ipsum dolor sit am consectetur adipisicing elit do
                  eiusmod tempor incididunt ut labore dolore magna.
                </p>
                <!-- Social -->
                <ul class="social">
                  <li><a href="#"><i class="icofont-facebook"></i></a></li>
                  <li><a href="#"><i class="icofont-google-plus"></i></a></li>
                  <li><a href="#"><i class="icofont-twitter"></i></a></li>
                  <li><a href="#"><i class="icofont-vimeo"></i></a></li>
                  <li><a href="#"><i class="icofont-pinterest"></i></a></li>
                </ul>
                <!-- End Social -->
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12">
              <div class="single-footer f-link">
                <h2>Quick Links</h2>
                <div class="row">
                  <div class="col-lg-6 col-md-6 col-12">
                    <ul>
                      <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Home</a></li>
                      <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>About Us</a></li>
                      <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Services</a></li>
                      <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Our Cases</a></li>
                      <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Other Links</a></li>
                    </ul>
                  </div>
                  <div class="col-lg-6 col-md-6 col-12">
                    <ul>
                      <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Consuling</a></li>
                      <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Finance</a></li>
                      <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Testimonials</a></li>
                      <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>FAQ</a></li>
                      <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Contact Us</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12">
              <div class="single-footer">
                <h2>Open Hours</h2>
                <p>
                  Lorem ipsum dolor sit ame consectetur adipisicing elit do
                  eiusmod tempor incididunt.
                </p>
                <ul class="time-sidual">
                  <li class="day">Monday - Fridayp <span>8.00-20.00</span></li>
                  <li class="day">Saturday <span>9.00-18.30</span></li>
                  <li class="day">Monday - Thusday <span>9.00-15.00</span></li>
                </ul>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12">
              <div class="single-footer">
                <h2>Newsletter</h2>
                <p>
                  subscribe to our newsletter to get allour news in your inbox..
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                </p>
                <form action="mail/mail.php" method="get" target="_blank" class="newsletter-inner">
                  <input name="email" placeholder="Email Address" class="common-input" onfocus="this.placeholder = ''"
                    onblur="this.placeholder = 'Your email address'" required="" type="email">
                  <button class="button"><i class="icofont icofont-paper-plane"></i></button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--/ End Footer Top -->
      {% endblock custom_footer %}

      {% block copyright %}
      <!-- Copyright -->
      <div class="copyright">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-12">
              <div class="copyright-content">
                <p>© Copyright 2024 | All Rights Reserved by Anjosy A J</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endblock copyright %}
      <!--/ End Copyright -->
    </footer>
    <!--/ End Footer Area -->

    <!-- jquery Min JS -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <!-- jquery Migrate JS -->
    <script src="{% static 'js/jquery-migrate-3.0.0.js' %}"></script>
    <!-- jquery Ui JS -->
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>
        <!-- Easing JS -->
        <script src="{% static 'js/easing.js' %}"></script>
        <!-- Color JS -->
        <script src="{% static 'js/colors.js' %}"></script>
        <!-- Popper JS -->  
        <script src="{% static 'js/popper.min.js' %}"></script>
        <!-- Bootstrap Datepicker JS -->
        <script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
        <!-- Jquery Nav JS -->
        <script src="{% static 'js/jquery.nav.js' %}"></script>
        <!-- Slicknav JS -->
        <script src="{% static 'js/slicknav.min.js' %}"></script>
        <!-- ScrollUp JS -->
        <script src="{% static 'js/jquery.scrollUp.min.js' %}"></script>
        <!-- Niceselect JS -->
        <script src="{% static 'js/niceselect.js' %}"></script>
        <!-- Tilt Jquery JS -->
        <script src="{% static 'js/tilt.jquery.min.js' %}"></script>
        <!-- Owl Carousel JS -->
        <script src="{% static 'js/owl-carousel.js' %}"></script>
        <!-- counterup JS -->
        <script src="{% static 'js/jquery.counterup.min.js' %}"></script>
        <!-- Steller JS -->
        <script src="{% static 'js/steller.js' %}"></script>
        <!-- Wow JS -->
        <script src="{% static 'js/wow.min.js' %}"></script>
        <!-- Magnific Popup JS -->
        <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
        <!-- Counter Up CDN JS -->
        <script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
        <!-- Bootstrap JS -->
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <!-- Main JS -->
        <script src="{% static 'js/main.js' %}"></script>
    
        <!-- Add this div for the warning message -->
        <div id="warning-message" class="alert alert-warning alert-dismissible fade show" role="alert" style="display: none;">
            You are not a registered user, please sign in.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% if messages %}
        <div id="message-container">
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
        </div>
        {% endif %}
    
        <!-- Add this script to handle the button click event -->
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                var findProvidersBtn = document.getElementById('find-providers-btn');
                if (findProvidersBtn) {
                    findProvidersBtn.addEventListener('click', function(event) {
                        event.preventDefault();
                        {% if not request.user.is_authenticated %}
                        var warningMessage = document.getElementById('warning-message');
                        warningMessage.style.display = 'block';
                        setTimeout(function() {
                            warningMessage.style.display = 'none';
                        }, 5000); // Hide the message after 5 seconds
                        {% else %}
                        window.location.href = "{% url 'providers' %}";
                        {% endif %}
                    });
                }
            });
        </script>
      </body>
    </html>
