{% extends 'base.html' %} 
{% load static %} 
{% block title %}Login - CareFusion{% endblock %}


{% block content %}
<section class="breadcrumbs">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2>Login</h2>
        <ul>
          <li>CareFusion</li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="login-section section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 login-container">
        {% if messages %}
        <div class="alert alert-info alert-dismissible fade show" role="alert">
          {% for message in messages %} {{ message }} {% endfor %}
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="alert"
            aria-label="Close"
          ></button>
        </div>
        {% endif %}

        <a class="btn btn-outline-dark w-100 mb-3 text-white" href="{% url 'social:begin' 'google-oauth2' %}">
          Login with
          <img
            src="https://img.icons8.com/color/30/000000/google-logo.png"
            alt="Google"
          />
        </a>

        <div class="text-center mb-3">OR</div>

        <form action="{% url 'login' %}" method="post" id="loginForm">
          {% csrf_token %}
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input
              type="email"
              class="form-control"
              id="email"
              name="email"
              placeholder="Enter your email"
              required
            />
          </div>

          <div class="mb-3">
            <label for="passw1" class="form-label">Password</label>
            <input
              type="password"
              class="form-control"
              id="password"
              name="pass1"
              placeholder="Enter your password"
              required
            />
          </div>

          <div class="d-grid">
            <button class="btn btn-primary" id="loginButton" type="submit">Login</button>
          </div>
        </form>

        <div class="text-center mt-3">
          <a href="{% url 'forgot_password' %}">Forgot Password?</a>
        </div>

        <div class="text-center mt-3">
          Not a User? <a href="{% url 'signup' %}">Sign Up</a>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
