<div class="modal-header">
    <h5 class="modal-title">Team Details</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
</div>
<div class="modal-body">
    <form>
        <div class="mb-3">
            <label class="form-label">Team Name</label>
            {{ form.team_name }}
        </div>
        <div class="mb-3">
            <label class="form-label">Team Members</label>
            {{ form.members }}
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
</div> 