{% block title %}Pending Requests{% endblock title %}

{% comment %} {% block nav_items %}
<li class="nav-item">
  <a class="nav-link" href="{% url 'palliatives_dashboard' %}">Home</a>
</li>
{% endblock %} {% endcomment %}

{% for request in pending_requests %}
<tr>
    <td>{{ request.patient.get_full_name }}</td>
    <td>{{ request.created_at|date:"Y-m-d H:i" }}</td>
    <td>
        <div class="btn-group">
            <a href="{% url 'patient_details' request.id %}" class="btn btn-primary btn-sm">View Details</a>
            <button class="btn btn-success btn-sm approve-request" data-request-id="{{ request.id }}">Approve</button>
        </div>
    </td>
</tr>
{% empty %}
<tr>
    <td colspan="3">No pending service requests.</td>
</tr>
{% endfor %}